/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #ff9046;
$theme-color2: #24589b;
$theme-color3: #20222e;
$theme-color4: #122a48;

@import "parts/loader";