{% extends "base.twig" %}

{% block content %}
    <!-- Start main-content -->
    <div class="main-content-area">
        <!-- Section: home Start -->
        <section id="home">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col">
                        <!-- START Colek HTML RevSlider REVOLUTION SLIDER 6.2.19 -->
                        <p class="rs-p-wp-fix"></p>
                        <rs-module-wrap id="rev_slider_7_1_wrapper" data-alias="colek-html-revslider" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                            <rs-module id="rev_slider_7_1" style="" data-version="6.2.19">
                                <rs-slides>
                                    <rs-slide data-key="rs-19" data-title="Slide 1" data-thumb="http://placehold.it/1920x1280" data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                                        <img src="http://placehold.it/1920x1280" title="bg2" width="1920" height="1280" data-parallax="off" class="rev-slidebg" data-no-retina>
                                        <!--
                                          -->
                                        <rs-layer
                                                id="slider-7-slide-19-layer-18"
                                                data-type="text"
                                                data-color="#122a48"
                                                data-rsp_ch="on"
                                                data-xy="x:l,l,c,c;xo:55px,45px,0,0;yo:182px,195px,155px,180px;"
                                                data-text="w:normal;s:100,90,72,52;l:105,95,74,56;ls:-2px,-1px,0px,0px;fw:800;a:left,left,center,center;"
                                                data-frame_1="st:600;sp:1000;sR:600;"
                                                data-frame_999="o:0;st:w;sR:7400;"
                                                style="z-index:9;font-family:Montserrat;"
                                        >Quality heating<br />
                                            & air condition<br />
                                            services.
                                        </rs-layer>
                                        <!--
                                          -->
                                        <rs-layer
                                                id="slider-7-slide-19-layer-22"
                                                data-type="text"
                                                data-rsp_ch="on"
                                                data-xy="x:l,l,c,c;xo:60px,50px,0,0;yo:538px,530px,427px,382px;"
                                                data-text="w:normal;s:20,16,16,15;l:25,20,18,20;a:left,left,left,center;"
                                                data-frame_1="st:1200;sp:1000;sR:1200;"
                                                data-frame_999="o:0;st:w;sR:6800;"
                                                style="z-index:8;font-family:Roboto;"
                                        ><a href="#" class="btn btn-round btn-lg btn-theme-colored1 text-white">Contact Us</a>
                                        </rs-layer>
                                        <!--
                                          -->
                                    </rs-slide>
                                    <rs-slide data-key="rs-20" data-title="Slide 1" data-thumb="http://placehold.it/1920x1280" data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                                        <img src="http://placehold.it/1920x1280" title="bg3" width="1920" height="1280" data-parallax="off" class="rev-slidebg" data-no-retina>
                                        <!--
                                          -->
                                        <rs-layer
                                                id="slider-7-slide-20-layer-18"
                                                data-type="text"
                                                data-color="#122a48"
                                                data-rsp_ch="on"
                                                data-xy="x:l,l,c,c;xo:55px,45px,0,0;yo:182px,195px,155px,180px;"
                                                data-text="w:normal;s:100,90,72,52;l:105,95,74,56;ls:-2px,-1px,0px,0px;fw:800;a:left,left,center,center;"
                                                data-frame_1="st:600;sp:1000;sR:600;"
                                                data-frame_999="o:0;st:w;sR:7400;"
                                                style="z-index:9;font-family:Montserrat;"
                                        >Quality heating<br />
                                            & air condition<br />
                                            services.
                                        </rs-layer>
                                        <!--
                                          -->
                                        <rs-layer
                                                id="slider-7-slide-20-layer-22"
                                                data-type="text"
                                                data-rsp_ch="on"
                                                data-xy="x:l,l,c,c;xo:60px,50px,0,0;yo:538px,530px,427px,382px;"
                                                data-text="w:normal;s:20,16,16,15;l:25,20,18,20;a:left,left,left,center;"
                                                data-frame_1="st:1200;sp:1000;sR:1200;"
                                                data-frame_999="o:0;st:w;sR:6800;"
                                                style="z-index:8;font-family:Roboto;"
                                        ><a href="#" class="btn btn-round btn-lg btn-theme-colored1 text-white">Contact Us</a>
                                        </rs-layer>
                                        <!--
                                          -->
                                    </rs-slide>
                                    <rs-slide data-key="rs-21" data-title="Slide 1" data-thumb="http://placehold.it/1920x1280" data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                                        <img src="http://placehold.it/1920x1280" title="bg4" width="1920" height="1280" data-bg="p:0% 20%;" data-parallax="off" class="rev-slidebg" data-no-retina>
                                        <!--
                                          -->
                                        <rs-layer
                                                id="slider-7-slide-21-layer-18"
                                                data-type="text"
                                                data-color="#122a48"
                                                data-rsp_ch="on"
                                                data-xy="x:l,l,c,c;xo:55px,45px,0,0;yo:182px,195px,155px,180px;"
                                                data-text="w:normal;s:100,90,72,52;l:105,95,74,56;ls:-2px,-1px,0px,0px;fw:800;a:left,left,center,center;"
                                                data-frame_1="st:600;sp:1000;sR:600;"
                                                data-frame_999="o:0;st:w;sR:7400;"
                                                style="z-index:9;font-family:Montserrat;"
                                        >Quality heating<br />
                                            & air condition<br />
                                            services.
                                        </rs-layer>
                                        <!--
                                          -->
                                        <rs-layer
                                                id="slider-7-slide-21-layer-22"
                                                data-type="text"
                                                data-rsp_ch="on"
                                                data-xy="x:l,l,c,c;xo:60px,50px,0,0;yo:538px,530px,427px,382px;"
                                                data-text="w:normal;s:20,16,16,15;l:25,20,18,20;a:left,left,left,center;"
                                                data-frame_1="st:1200;sp:1000;sR:1200;"
                                                data-frame_999="o:0;st:w;sR:6800;"
                                                style="z-index:8;font-family:Roboto;"
                                        ><a href="#" class="btn btn-round btn-lg btn-theme-colored1 text-white">Contact Us</a>
                                        </rs-layer>
                                        <!--
                                          -->
                                    </rs-slide>
                                </rs-slides>
                            </rs-module>
                        </rs-module-wrap>
                        <!-- END REVOLUTION SLIDER -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: home End -->

        <!-- Section: features -->
        <section class="bg-no-repeat">
            <div class="container">
                <div class="section-content">
                    <div class="row mb-100">
                        <div class="col-lg-12 col-xl-6">
                            <h2 class="mb-40">High standard trsuted & professional services</h2>
                            <p class="">Lorem ipsum is simply free text dolor sit am adipi we help you ensure everyone is in the right jobs sicing elit, sed do consulting firms Et leggings across the nation tempor.</p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="tm-sc-unordered-list list-style8 font-weight-700 text-theme-colored4 mb-30">
                                                <ul>
                                                    <li>We’re certified workers</li>
                                                    <li>We satisfied our customers</li>
                                                    <li>We provide best services to all</li>
                                                    <li>We’re expert technicians</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="tm-sc-unordered-list list-style8 font-weight-700 text-theme-colored4 mb-30">
                                                <ul>
                                                    <li>We’re certified workers</li>
                                                    <li>We satisfied our customers</li>
                                                    <li>We provide best services to all</li>
                                                    <li>We’re expert technicians</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="company-founder clearfix mt-30 mb-md-40 mb-lg-30">
                                        <div class="founder-thumb float-left mr-15">
                                            <img class="rounded-circle" src="http://placehold.it/92x92" alt="">
                                        </div>
                                        <div class="founder-name overflow-hidden">
                                            <h4 class="text-theme-colored2 mb-0">Jessica brown</h4>
                                            <h6 class="mt-0 mb-0">Company founder</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="image-box mb-lg-120 mb-sm-150">
                                <img class="image1" src="http://placehold.it/575x615" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="features-block">
                        <img class="floating-icon tm-animation-floating" src="images/feature-block-object1.png" alt="">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <div class="feature mb-md-40">
                                    <div class="feature-content">
                                        <h5 class="feature-title mt-0 mb-30">Satisfaction guarantee</h5>
                                        <p class="feature-text mb-0">There are many of passages of lorem Ipsum, but the majori have suffered alteration in some form</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <div class="feature mb-md-40">
                                    <div class="feature-content">
                                        <h5 class="feature-title mt-0 mb-30">12 years experience</h5>
                                        <p class="feature-text mb-0">There are many of passages of lorem Ipsum, but the majori have suffered alteration in some form</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <div class="feature mb-md-40">
                                    <div class="feature-content">
                                        <h5 class="feature-title mt-0 mb-30">Emergency services</h5>
                                        <p class="feature-text mb-0">There are many of passages of lorem Ipsum, but the majori have suffered alteration in some form</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Service -->
        <section class="bg-theme-colored4" data-tm-bg-img="images/bg/service-bg1.png">
            <div class="container pt-100 pb-100">
                <div class="section-title">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div class="text-center mb-60">
                                <div class="tm-sc-section-title section-title">
                                    <div class="title-wrapper">
                                        <h2 class="text-white">Checkout our services we’re offering</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <div class="service-item bg-white">
                                    <div class="service-thumb">
                                        <img src="http://placehold.it/375x325" alt="">
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-title">Cooling services</h3>
                                        <p class="service-text text-theme-colored4 mb-30">Lorem ipsum is simply free text dolor sit am adipi we help you everyone is in the right jobs sicing elit.</p>
                                    </div>
                                    <a class="btn btn-sm btn-theme-colored1" href="#">Read more</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <div class="service-item bg-white">
                                    <div class="service-thumb">
                                        <img src="http://placehold.it/375x325" alt="">
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-title">Maintenance & repair</h3>
                                        <p class="service-text text-theme-colored4 mb-30">Lorem ipsum is simply free text dolor sit am adipi we help you everyone is in the right jobs sicing elit.</p>
                                    </div>
                                    <a class="btn btn-sm btn-theme-colored1" href="#">Read more</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-4">
                                <div class="service-item bg-white">
                                    <div class="service-thumb">
                                        <img src="http://placehold.it/375x325" alt="">
                                    </div>
                                    <div class="service-content">
                                        <h3 class="service-title">Heating services</h3>
                                        <p class="service-text text-theme-colored4 mb-30">Lorem ipsum is simply free text dolor sit am adipi we help you everyone is in the right jobs sicing elit.</p>
                                    </div>
                                    <a class="btn btn-sm btn-theme-colored1" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Why Choose Us -->
        <section>
            <div class="container-fluid p-0">
                <div class="tm-sc-custom-columns-holder tm-cc-two-columns tm-cc-responsive-mode-1280">
                    <div class="tm-sc-custom-columns-holder-item z-index-1" data-tm-bg-img="http://placehold.it/1920x1280" data-item-class="tm-custom-columns-12" data-1200-up="100px 20% 100px 15%" data-1199-down="100px 10% 100px 10%" data-991-down="100px 10% 100px 10%" data-767-down="100px 10% 100px 10%" data-575-down="100px 10% 100px 10%">
                        <div class="item-inner">
                            <div class="item-content tm-custom-columns-12">
                            </div>
                        </div>
                    </div>
                    <div class="tm-sc-custom-columns-holder-item bg-img-left block-section-left-part layer-overlay overlay-white-8" data-tm-bg-img="http://placehold.it/1920x1280" data-item-class="tm-custom-columns-11" data-1200-up="80px 15% 70px 15%" data-1199-down="80px 10% 70px 10%" data-991-down="80px 10% 70px 10%" data-767-down="80px 10% 70px 10%" data-575-down="80px 10% 70px 10%">
                        <div class="item-inner">
                            <div class="item-content tm-custom-columns-11">
                                <h2 class="mb-30">Why you should choose our services</h2>
                                <p class="mb-40">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="tm-sc-unordered-list display-inline display-block mb-30 list-style9 font-weight-700 text-theme-colored4 mb-30">
                                    <ul>
                                        <li>Awesome services</li>
                                        <li>Trusted and certified</li>
                                    </ul>
                                </div>
                                <div id="accordion100" class="tm-accordion mt-30 mb-md-40 mb-lg-50">
                                    <div class="card">
                                        <div class="card-header p-0" id="heading101">
                                            <h5 class="title" data-toggle="collapse" data-target="#collapse101" aria-expanded="true" aria-controls="collapse101">
                                                How to fix your home ac in three steps?
                                                <i class="fas fa-chevron-down accordion-controls-icon"></i>
                                            </h5>
                                        </div>
                                        <div id="collapse101" class="collapse show" aria-labelledby="heading101" data-parent="#accordion100">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Minus, dolorum non accusamus vero repudiandae, vel illum et tenetur in magnam dicta dolores impedit totam placeat?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-0" id="heading102">
                                            <h5 class="title collapsed" data-toggle="collapse" data-target="#collapse102" aria-expanded="false" aria-controls="collapse102">
                                                How much you charge hourly?
                                                <i class="fas fa-chevron-down accordion-controls-icon"></i>
                                            </h5>
                                        </div>
                                        <div id="collapse102" class="collapse" aria-labelledby="heading102" data-parent="#accordion100">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Minus, dolorum non accusamus vero repudiandae, vel illum et tenetur in magnam dicta dolores impedit totam placeat?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-0" id="heading103">
                                            <h5 class="title collapsed" data-toggle="collapse" data-target="#collapse103" aria-expanded="false" aria-controls="collapse103">
                                                Air conditioner is different then others?
                                                <i class="fas fa-chevron-down accordion-controls-icon"></i>
                                            </h5>
                                        </div>
                                        <div id="collapse103" class="collapse" aria-labelledby="heading103" data-parent="#accordion100">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Minus, dolorum non accusamus vero repudiandae, vel illum et tenetur in magnam dicta dolores impedit totam placeat?
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Gallery -->
        <section class="bg-theme-colored1">
            <div class="container">
                <div class="section-title">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="tm-sc-section-title section-title mb-md-30">
                                <div class="title-wrapper">
                                    <h2 class="text-white">Visit Our Gallery</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col-md-6">
                            <p class="text-white">There are many variations of passages of lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly.</p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <div class="gallery-item mb-md-30">
                                <div class="gallery-thumb">
                                    <img class="w-100" src="http://placehold.it/355x390" alt="">
                                    <div class="gallery-link">
                                        <img src="images/plus.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <div class="gallery-item mb-md-30">
                                <div class="gallery-thumb">
                                    <img class="w-100" src="http://placehold.it/470x515" alt="">
                                    <div class="gallery-link">
                                        <img src="images/plus.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <div class="gallery-item mb-md-30">
                                <div class="gallery-thumb">
                                    <img class="w-100" src="http://placehold.it/470x515" alt="">
                                    <div class="gallery-link">
                                        <img src="images/plus.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <div class="gallery-item mb-md-30">
                                <div class="gallery-thumb">
                                    <img class="w-100" src="http://placehold.it/470x515" alt="">
                                    <div class="gallery-link">
                                        <img src="images/plus.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Team -->
        <section>
            <div class="container pb-50">
                <div class="section-title">
                    <div class="row justify-content-md-center">
                        <div class="col-md-5 col-sm-12">
                            <div class="text-center mb-60">
                                <div class="tm-sc-section-title section-title">
                                    <div class="title-wrapper">
                                        <h2>Meet the expart people</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-3">
                            <div class="team-item mb-30">
                                <div class="team-thumb">
                                    <img class="w-100" src="http://placehold.it/300x300" alt="">
                                    <div class="team-social">
                                        <ul class="styled-icons icon-team-list icon-bordered icon-circled">
                                            <li><a data-tm-bg-color="#3457F1" class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                                            <li><a data-tm-bg-color="#4EBEFF" class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a data-tm-bg-color="#EF3230" class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <div class="team-information">
                                        <p class="designation mb-0">Engineer</p>
                                        <h5 class="team-name mt-0 mb-0">Sarah Albert</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3">
                            <div class="team-item mb-30">
                                <div class="team-thumb">
                                    <img class="w-100" src="http://placehold.it/300x300" alt="">
                                    <div class="team-social">
                                        <ul class="styled-icons icon-team-list icon-bordered icon-circled">
                                            <li><a data-tm-bg-color="#3457F1" class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                                            <li><a data-tm-bg-color="#4EBEFF" class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a data-tm-bg-color="#EF3230" class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <div class="team-information">
                                        <p class="designation mb-0">Engineer</p>
                                        <h5 class="team-name mt-0 mb-0">Sarah Albert</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3">
                            <div class="team-item mb-30">
                                <div class="team-thumb">
                                    <img class="w-100" src="http://placehold.it/300x300" alt="">
                                    <div class="team-social">
                                        <ul class="styled-icons icon-team-list icon-bordered icon-circled">
                                            <li><a data-tm-bg-color="#3457F1" class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                                            <li><a data-tm-bg-color="#4EBEFF" class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a data-tm-bg-color="#EF3230" class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <div class="team-information">
                                        <p class="designation mb-0">Engineer</p>
                                        <h5 class="team-name mt-0 mb-0">Sarah Albert</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3">
                            <div class="team-item mb-30">
                                <div class="team-thumb">
                                    <img class="w-100" src="http://placehold.it/300x300" alt="">
                                    <div class="team-social">
                                        <ul class="styled-icons icon-team-list icon-bordered icon-circled">
                                            <li><a data-tm-bg-color="#3457F1" class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                                            <li><a data-tm-bg-color="#4EBEFF" class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a data-tm-bg-color="#EF3230" class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <div class="team-information">
                                        <p class="designation mb-0">Engineer</p>
                                        <h5 class="team-name mt-0 mb-0">Sarah Albert</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Divider -->

        <section class="bg-silver-light">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tm-sc-clients tm-sc-clients-carousel owl-dots-light-skin owl-dots-center clients-animation-grayscale">
                                <div class="owl-carousel owl-theme tm-owl-carousel-6col" data-autoplay="true" data-loop="true" data-duration="6000" data-smartspeed="300" data-margin="30" data-stagepadding="0" data-laptop="4">
                                    <div class="item"> <a target="_blank" href="#"> <img src='images/clients/1.png' alt='Image' /> </a></div>
                                    <div class="item"> <a target="_blank" href="#"> <img src='images/clients/2.png' alt='Image' /> </a></div>
                                    <div class="item"> <a target="_blank" href="#"> <img src='images/clients/3.png' alt='Image' /> </a></div>
                                    <div class="item"> <a target="_blank" href="#"> <img src='images/clients/4.png' alt='Image' /> </a></div>
                                    <div class="item"> <a target="_blank" href="#"> <img src='images/clients/5.png' alt='Image' /> </a></div>
                                    <div class="item"> <a target="_blank" href="#"> <img src='images/clients/6.png' alt='Image' /> </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Video Popup -->
        <section class="layer-overlay overlay-theme-colored4-9 bg-no-repeat" data-tm-bg-img="http://placehold.it/1919x727">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-lg-10 col-xl-10">
                            <div class="video-block text-center mb-0">
                                <h2 class="text-white popup-video-title mb-40">We Provide Premium <br> Cooling & Heating Services</h2>
                                <div class="box-hover-effect tm-sc-video-popup tm-sc-video-popup-css-button">
                                    <div class="effect-wrapper d-flex align-items-center">
                                        <div class="animated-css-play-button"><span class="play-icon"><i class="fa fa-play"></i></span></div>
                                        <a class="hover-link" data-lightbox-gallery="youtube-video" href="https://www.youtube.com/watch?v=xcJtL7QggTI" title=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Testimonials -->
        <section class="layer-overlay overlay-white-2 bg-no-repeat bg-pos-center-center bg-size-contain" data-tm-bg-img="images/bg/map.png">
            <div class="container pb-130">
                <div class="section-title">
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <div class="text-center mb-60">
                                <div class="tm-sc-section-title section-title">
                                    <div class="title-wrapper">
                                        <h5>Our Testimonials</h5>
                                        <h2>What They Say</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="testimonial-item mb-md-60">
                                <div class="star-rating"> <span data-tm-width="90%"></span></div>
                                <div class="author-text"> I feel very happy and be proud to connect with this industry. I presume this is a very productive and professional industry. I wish very good luck & success for this industry</div>
                                <div class="author-info clearfix">
                                    <h5 class="name">Jim Grace,</h5>
                                    <span class="job-position">Developer</span> <a class="company-url" href="#"></a>
                                </div>
                                <div class="author-thumb">
                                    <img class="rounded-circle" src="http://placehold.it/75x75" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="testimonial-item mb-md-60">
                                <div class="star-rating"> <span data-tm-width="90%"></span></div>
                                <div class="author-text"> I feel very happy and be proud to connect with this industry. I presume this is a very productive and professional industry. I wish very good luck & success for this industry</div>
                                <div class="author-info clearfix">
                                    <h5 class="name">Jim Grace,</h5>
                                    <span class="job-position">Developer</span> <a class="company-url" href="#"></a>
                                </div>
                                <div class="author-thumb">
                                    <img class="rounded-circle" src="http://placehold.it/75x75" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="testimonial-item">
                                <div class="star-rating"> <span data-tm-width="90%"></span></div>
                                <div class="author-text"> I feel very happy and be proud to connect with this industry. I presume this is a very productive and professional industry. I wish very good luck & success for this industry</div>
                                <div class="author-info clearfix">
                                    <h5 class="name">Jim Grace,</h5>
                                    <span class="job-position">Developer</span> <a class="company-url" href="#"></a>
                                </div>
                                <div class="author-thumb">
                                    <img class="rounded-circle" src="http://placehold.it/75x75" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Divider -->

        <!-- Section: Features -->
        <section class="layer-overlay overlay-theme-colored4-9 bg-no-repeat" data-tm-bg-img="http://placehold.it/1920x1280">
            <div class="container pb-200">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 col-xl-5">
                            <div class="tm-sc-section-title section-title mb-md-30">
                                <div class="title-wrapper">
                                    <h2 class="text-white">Check what else we’re doing</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <p class="text-gray-silver">There are many variations of passages of lorem Ipsum available, but the majority have suffered alteration.</p>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 text-left text-xl-right mb-md-50">
                            <a class="btn btn-round btn-theme-colored1 text-white mb-sm-30" href="#">Get a Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Features -->
        <section class="" data-tm-margin-top="-180px">
            <div class="container pt-0">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-3">
                            <div class="feature-item mb-lg-40">
                                <h4 class="feature-title">HVAC <br>installation</h4>
                                <div class="feature-icon">
                                    <img src="images/icons/service-feature-icon1.png" alt="images">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3">
                            <div class="feature-item mb-lg-40">
                                <h4 class="feature-title">Duct <br>repairing</h4>
                                <div class="feature-icon">
                                    <img src="images/icons/service-feature-icon2.png" alt="images">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3">
                            <div class="feature-item mb-sm-40">
                                <h4 class="feature-title">Indoor <br>air quality</h4>
                                <div class="feature-icon">
                                    <img src="images/icons/service-feature-icon3.png" alt="images">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3">
                            <div class="feature-item">
                                <h4 class="feature-title">Geothermal <br>systems</h4>
                                <div class="feature-icon">
                                    <img src="images/icons/service-feature-icon4.png" alt="images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: News -->
        <section data-tm-margin-top="-90px">
            <div class="container">
                <div class="tm-sc-section-title section-title">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-12 col-xl-12">
                            <h6 class="text-theme-colored2 mt-0">From the blog</h6>
                            <h2 class="mt-0 mb-0">News & Articles</h2>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="tm-sc-blog tm-sc-blog-masonry blog-style1-current-theme text-center mb-lg-30">
                                <article class="post">
                                    <div class="entry-header">
                                        <div class="post-thumb">
                                            <div class="post-thumb-inner">
                                                <div class="thumb"> <img class="w-100" src="http://placehold.it/375x285" alt="Image"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <div class="post-single-meta">
                                            <div class="entry-date text-theme-colored2 font-weight-700">14<span> June,</span> 2020</div>
                                        </div>
                                        <h4 class="entry-title"><a href="#" rel="bookmark">How to Improve air conditioning efficiency</a></h4>
                                        <div class="blog-meta">
                      <span class="admin-type mr-10">
                        <i class="far fa-user-circle text-theme-colored1"></i>
                      Admin
                      </span>
                                            <span class="comments-type">
                      <i class="far fa-comments text-theme-colored1"></i>
                      2 Comments
                      </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="tm-sc-blog tm-sc-blog-masonry blog-style1-current-theme text-center mb-lg-30">
                                <article class="post">
                                    <div class="entry-header">
                                        <div class="post-thumb">
                                            <div class="post-thumb-inner">
                                                <div class="thumb"> <img class="w-100" src="http://placehold.it/375x285" alt="Image"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <div class="post-single-meta">
                                            <div class="entry-date text-theme-colored2 font-weight-700">14<span> June,</span> 2020</div>
                                        </div>
                                        <h4 class="entry-title"><a href="#" rel="bookmark">How to Improve air conditioning efficiency</a></h4>
                                        <div class="blog-meta">
                      <span class="admin-type mr-10">
                        <i class="far fa-user-circle text-theme-colored1"></i>
                      Admin
                      </span>
                                            <span class="comments-type">
                      <i class="far fa-comments text-theme-colored1"></i>
                      2 Comments
                      </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="tm-sc-blog tm-sc-blog-masonry blog-style1-current-theme text-center mb-lg-30">
                                <article class="post">
                                    <div class="entry-header">
                                        <div class="post-thumb">
                                            <div class="post-thumb-inner">
                                                <div class="thumb"> <img class="w-100" src="http://placehold.it/375x285" alt="Image"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <div class="post-single-meta">
                                            <div class="entry-date text-theme-colored2 font-weight-700">14<span> June,</span> 2020</div>
                                        </div>
                                        <h4 class="entry-title"><a href="#" rel="bookmark">How to Improve air conditioning efficiency</a></h4>
                                        <div class="blog-meta">
                      <span class="admin-type mr-10">
                        <i class="far fa-user-circle text-theme-colored1"></i>
                      Admin
                      </span>
                                            <span class="comments-type">
                      <i class="far fa-comments text-theme-colored1"></i>
                      2 Comments
                      </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Subscribe Newsletter -->
        <section class="bg-silver-light">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 col-xl-3">
                            <div class="subscribe-block mb-md-80">
                                <div class="subscribe-icon">
                                    <img src="images/subscribe-icon.png" alt="">
                                </div>
                                <h4 class="subscribe-text">Subscribe our newsletter</h4>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-7 col-xl-6">
                            <!-- Mailchimp Subscription Form-->
                            <form id="mailchimp-subscription-form1" class="newsletter-form mb-lg-40 pl-md-0">
                                <label for="mce-EMAIL"></label>
                                <div class="input-group">
                                    <input type="email" id="mce-EMAIL" data-tm-height="80px" class="form-control" placeholder="Your Email"  name="EMAIL" value="">
                                    <div class="input-group-append tm-sc-button">
                                        <button type="submit" class="newsletter-btn btn btn-theme-colored1 btn-sm text-white" data-tm-height="65px">Subscribe</button>
                                    </div>
                                </div>
                            </form>

                            <!-- Mailchimp Subscription Form Validation-->
                            <script>
                                (function($) {
                                    $('#mailchimp-subscription-form1').ajaxChimp({
                                        callback: mailChimpCallBack,
                                        url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                                    });

                                    function mailChimpCallBack(resp) {
                                        // Hide any previous response text
                                        var $mailchimpform = $('#mailchimp-subscription-form1'),
                                            $response = '';
                                        $mailchimpform.children(".alert").remove();
                                        if (resp.result === 'success') {
                                            $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                                        } else if (resp.result === 'error') {
                                            $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                                        }
                                        $mailchimpform.prepend($response);
                                    }
                                })(jQuery);
                            </script>
                        </div>
                        <div class="col-md-12 col-lg-5 col-xl-3">
                            <ul class="styled-icons icon-dark icon-lg icon-circled icon-theme-colored2 text-left text-xl-right">
                                <li><a class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end main-content -->
{% endblock %}
