{% extends "tease.twig" %}

{% block content %}
	<article class="post clearfix mb-30 pb-30">
		<div class="entry-header">
			{% if post.thumbnail.src %}
			<div class="post-thumb thumb">
				<img src="{{ post.thumbnail.src }}" alt="images" class="img-responsive img-fullwidth">
			</div>
			{% endif %}
		</div>
		<div class="entry-content border-1px p-20 pr-10">
			<div class="entry-meta mt-0">
				<span class="mb-10 text-gray-darkgray mr-10 font-size-13"><i class="far fa-calendar-alt mr-10 text-theme-colored1"></i> Jul 20, 2021</span>
				<span class="mb-10 text-gray-darkgray mr-10 font-size-13"><i class="far fa-comments mr-10 text-theme-colored1"></i> 214 Comments</span>
			</div>
			<h4 class="entry-title"><a href="blog-single-right-sidebar.html">{{post.title}}</a></h4>
			<p class="mt-10">{{post.preview.length(25)}}</p>
			<a href="{{post.link}}" class="btn btn-plain-text-with-arrow">Read more</a>
			<div class="clearfix"></div>
		</div>
	</article>
{% endblock %}